@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto:wght@400;700&display=swap');

@import url("./src/styles/header.css");
@import url("./src/styles/main.css");
@import url("./src/styles/brands.css");
@import url("./src/styles/promo.css");
@import url("./src/styles/shop.css");

* {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 0;
}

.button {
  border: #000000 2px solid;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.50px;
  border-radius: 0;
  background: none;
  width: 175px;
  height: 56px;
}
